h1{
    color: brown;
    background-color:burlywood;
    text-align: center;
}
 .container{
    background-color: burlywood;
    margin: 20px 15px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 15px;
    text-align: justify;
 }
#sea{
    text-align: center;
    background-color: rgba(0, 119, 255, 0.11);
}
 